@using NoteKeeperPro.Application.Dtos.Notes
@model NoteDetailsToReturnDto
@{
    ViewData["Title"] = "Details";
}

<h1 class="my-5 w-75 m-auto"> Employee Details</h1>
<partial name="Partials/DeleteDetailsNotePartial" />

