
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div>
			<p>Reset Password Url has benn Send to ur Email</p>
		</div>
		<div>
			<a href="https://mail.google.com/" target="_blank">Your Inbox</a>
		</div>
	</div>
</div>


